@font-face {
    font-family: 'Inter';
    src: url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Yuji+Mai&display=swap');
}

:root {
    --primary-color: #0A3871;
}

* {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
}

header {
    height: 7%;
    padding: 2rem 0 0 2rem;
}

main {
    height: 93%;
}

.in, .out {
    height: 50%;
    padding: 2rem 1rem 0 1rem;
    overflow: scroll; /* trocar  */
}

.in input {
    border: none;
    width: 100%;
    height: 70%;
}

.in input::placeholder {
    font-size: 2rem;
    color: var(--primary-color);
    position: relative;
    top: -35%;
}

.in p {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: smaller;
}

.in div {
    display: flex;
    flex-direction: column;
}

.in div button {
    margin: .5rem 0;
    padding: 25px;
    border-radius: 25px;
    font-size: medium;
}

.in div .encrypt {
    background-color: var(--primary-color);
    color: white;
    border: none;
}

.in div .descrypt {
    background-color: white;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.out {
    height: 50%;
}

.out div {
    
}

.out_img {
    display: none;
}