@font-face {
    font-family: 'Inter';
    src: url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Yuji+Mai&display=swap');
}

:root {
    --primary-color: #f3f5fc;
    --secundary-color: #0A3871;
}

*,
*::before,
*::after {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: var(--primary-color);
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    height: 6%;
    padding: 1rem 0 0 1rem;
    margin-bottom: 3rem;
}

header nav,
header a,
header img  {
    height: 100%;
}

main {
    height: 94%;
}

button:hover {
    cursor: pointer;
}

.in {
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.in textarea {
    border: none;
    max-width: 90%;
    min-width: 90%;
    min-height: 70%;
    color: var(--secundary-color);
    font-size: 2rem;
}

.in textarea::placeholder {
    font-size: 2rem;
    color: var(--secundary-color);
}

.in p {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: smaller;
    background-color: transparent;
    margin-top: 1rem;
}

.in div {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: transparent;
}

.in div button,
.out button {
    margin: .5rem 0;
    padding: 25px;
    border-radius: 25px;
    font-size: medium;
    width: 100%;
}

.in div .encrypt {
    background-color: var(--secundary-color);
    color: var(--primary-color);
    border: none;
}

.in div .descrypt,
.out button {
    background-color: var(--primary-color);
    color: var(--secundary-color);
    border: 1px solid var(--secundary-color);
}

.out {
    width: 100%;
    min-height: 35%;
    padding: 3rem;
    background: linear-gradient(to bottom, var(--primary-color), 30%, #dddfe6);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.out div,
.out h1,
.out p {
    background-color: white;
}

.out div {
    min-width: 80%;
    max-width: 80%;
    min-height: 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-radius: 25px;
    padding: 1.7rem;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

.out h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.out p {
    color: gray;
}

.out_img {
    display: none;
}

.out button {
    display: none;
}

.out h1.desactive {
    display: none;
}

.out button.active {
    display: block;
}