@font-face {
    font-family: 'Inter';
    src: url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Yuji+Mai&display=swap');
}

:root {
    --primary-color: #f3f5fc;
    --secundary-color: #0A3871;
}

* {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    background-color: var(--primary-color);
}

html, body {
    width: 100vw;
    height: 100vh;
}

header {
    height: 6%;
    padding: 1rem 0 0 1rem;
    box-sizing: border-box;
}

header nav, header a, header img  {
    height: 100%;
}

main {
    height: 94%;
    box-sizing: border-box;
}

.in {
    height: 65%;
    margin: 0 1rem;
}

.in input {
    border: none;
    width: 100%;
    height: 70%;
}

.in input::placeholder {
    font-size: 2rem;
    color: var(--secundary-color);
    position: relative;
    top: -35%;
}

.in p {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: smaller;
}

.in div {
    display: flex;
    flex-direction: column;
}

.in div button {
    margin: .5rem 0;
    padding: 25px;
    border-radius: 25px;
    font-size: medium;
}

.in div .encrypt {
    background-color: var(--secundary-color);
    color: var(--primary-color);
    border: none;
}

.in div .descrypt {
    background-color: var(--primary-color);
    color: var(--secundary-color);
    border: 1px solid var(--secundary-color);
}

.out {
    height: 35%;
    background: linear-gradient(to bottom, var(--primary-color), 30%, #dddfe6);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.out div, .out h1, .out p {
    background-color: white;
}

.out div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-radius: 25px;
    height: 165px;
    margin: 0 1rem;
    padding: 2rem;
    box-sizing: border-box;
}

.out h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.out p {
    color: gray;
}

.out_img {
    display: none;
}